<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Shadows+Into+Light" rel="stylesheet">

<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

<h1>Contact Bike Berlin</h1>
<p>We are located in the heart of downtown Berlin</p>
