<table>
  <tbody>
    <tr>
      <td><h2>Thank you for your payment!</h2></td>
    </tr>
    <tr>
      <td><p>Thank you for your order. Your payment has been processed successfully.</p></td>
      <p>Order Details: </p>
      <p>Product: <%= @product.name %></p>
      <p>Amount: $<%= @product.price %></p>
      <p>If you have any questions, please contact us.</p>
    </tr>
  </tbody>
</table>