/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

li, a, .searchbar {
	font-family: 'Open Sans Condensed', sans-serif;
	color: #6b6244;
	text-align: center;
	display: inline-block;
	padding: 5px;
	font-size: 16px;
}

.Homepage a {
	color: #85144b;
	font-size: 25px;
	padding-right: 20px;
}

.Homepage a:hover {
	text-decoration: none;
}

.searchbar {
	float: right;
	color: #444d6b;
	font-size: 16px;
	margin-top: 3px;
}

label {
	display: inline-block;
	margin-bottom: 0px;
}

input {
	font-family: 'Open Sans Condensed', sans-serif;
	background-color: #fcebf3;
	border-color: #444d6b;
	border: 1px solid #999;
	font-size: 14px;

}

input:hover {
	background-color: white;
}

input#q {
	background-color: white;
	border-radius: 5px;
}

footer {
	font-family: Tahoma, Geneva, sans-serif;
	text-align: right;
}
 h3 {
 	height: 52px;
 	text-align: center;
 }

.carousel-caption {
	padding-bottom: 0px;
	font-size: 16pt;
}

h1 {
	font-family: 'Open Sans Condensed', sans-serif;
	color: #85144b;
	text-align: center;
	font-size: 60px;

}

h2, h3 {
	font-family: 'Shadows Into Light', cursive;
	color: #444d6b;
	text-align: center;
}

.alert-info {
	border-color: #85144b;
	background-color: #fcebf3;
	font-family: 'Shadows Into Light', cursive;
	font-size: 16pt;
}

#notice {
	color: #444d6b;
}

