<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Shadows+Into+Light" rel="stylesheet">

<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

<p id="notice"><%= notice %></p>


<body>
  <h1>Our Bikes</h1>
  <div class="container">
    <div class="row">
    	<% cache(cache_key_for_products) do %>
        	<%= render @products %>
      <% end %>
    </div><!--end row-->
  </div><!--end container-->
</body>


<br>

<%= link_to 'New Product', new_product_path %>
